<style>
  .nav-link {
    font-size: large;
    color: var(--success) !important;
  }

  .navbar-light .navbar-nav .active>.nav-link {
    border-bottom: 3px solid var(--success);
  }

  .nav-link:hover {
    border-bottom: 3px solid var(--success);
  }

</style>

<div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light"
       role="navigation">

    <div class="container-md">

      <a class="navbar-brand"
         title="Home"
         href="#">
        <i class="fas fa-home pr-2"></i>
        <!-- <img class="pr-2"
             width="32"
             src="../../favicon.ico"
             alt="Logo" /> -->
        <span class="text-uppercase"
              style="font-size: xx-large;">🏡🍕</span>
      </a>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navigation-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"
           id="navigation-navbar">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active mr-1">
            <a href="#"
               class="nav-link text-uppercase">Menu</a>
          </li>
          <li class="nav-item">
            <a href="#"
               class="nav-link text-uppercase">Luo oma pizza</a>
          </li>
          <li class="nav-item">

            <a href="#"
               class="nav-link text-uppercase">Kotijoukot</a>
          </li>
        </ul>

        <div class="navbar-nav">
          <a class="nav-link text-uppercase">
            <i class="bi bi-person h3 font-weight-bold"></i>
            Kirjaudu
          </a>

          <a class="nav-link text-uppercase">
            <i class="bi bi-cart2 h3 font-weight-bold"></i> 
            Tilaus 0,00€
          </a>

        </div>

      </div>

    </div>

  </nav>

  <div>